.watchLater-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow-y: scroll;
}

.video-delete-btn {
  position: absolute;
  margin: -3rem;
  padding: 0.5em;
  text-align: center;
  color: var(--primary-color);
  font-weight: 600;
  border-radius: 10%;
  border: 2px solid var(--primary-color);
}

.video-delete-btn:hover {
  color: #ffff;
  background-color: var(--primary-color);
  cursor: pointer;
}

.video-map-container .video-card{
  position: relative;
}
.video-card .remove-card-btn{
  position: absolute;
  top:7px;
  right: 23px;
}
.video-mapping-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}