.modal-container {
  position: fixed;
  border: 1px solid black;
  border-radius: 8px;
  width: 15rem;
  height: max-content;
  border: 1px solid rgb(99, 96, 96);
  box-shadow: 5px 5px 20px #f5f5f5, -5px -5px 20px #ffffff;
  z-index: 9999;
  left: 42%;
  top: 40%;
  background-color: #e5e4e2;
}
.modal-btn {
  bottom: 4.7rem;
  right: -0.9rem;
  border-radius: 5px;
  font-size: small;
  font-weight: bold;
  border: 2px solid var(--primary-color);
  border-radius: 2px;
  color: var(--primary-color);
  border-radius: 5px;
  margin: 1rem;
  position: absolute;
  display: inline-block;
}

.modal-btn:hover {
  background-color: var(--primary-color);
  cursor: pointer;
  color: var(--btn-color);
}

.modal-input {
  width: 10rem;
}

.playList-btn {
  border: 2px solid var(--primary-color);
  padding: 0.2rem;
  border-radius: 2px;
  color: var(--btn-color);
  margin: 0.5rem;
  border-radius: 5px;
  background-color: var(--primary-color);
}

.playList-btn:hover {
  background-color: var(--primary-color);
  color: var(--btn-color);
}

.modal-input-wrapper {
  display: flex;
  align-items: center;
}
