@import url("../styles.css");


/* .sidebar-container {
    display: flex;
    width: max-content;
    padding: 0.5rem;
    overflow: hidden;
    flex-direction: column;
    letter-spacing: 0.2em;
   color: black;
  }
  
  .sidebar-container Link {
    list-style: none;
  }

  .options-list {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    margin: 1rem;
    list-style: none;
  }
  
  .options:hover {
    cursor: pointer;
    color: var(--primary-color);
  }

  .options {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  color: var(--text-clr);
  align-items: center;
  } */