@import url("../../styles.css");

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  box-sizing: border-box;
  overflow: hidden;
  font-family: "Barlow Condensed", sans-serif;
}

.main-container {
  display: flex;
  flex-direction: row;
  height: calc(100vh - 5rem);
  width: 100vw;
padding: 0;
  overflow: hidden;
}
.sidebar-container {
  display: flex;
  width: max-content;
  padding: 0.5rem;
  overflow: hidden;
  flex-direction: column;
  letter-spacing: 0.2em;
}

.sidebar-container Link {
  list-style: none;
}
.video-cards-container {
  width: calc(100vw - 5rem);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  height: calc(100vh - 5rem);
  margin: 0%;
  padding: 0%;
  overflow-y: scroll;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.options-list {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  margin: 1rem;
  list-style: none;
}

.options-list:hover {
  cursor: pointer;
}

.product-details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.products-card-container {
  border-radius: 25%;
  margin: 2rem;
}

.clear-btn i {
  font-size: 1rem;
}

.options {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.badge {
  border-radius: 25%;
  background: none;
  top: -10px;
}

@media screen and (max-width: 600px) {
  .main-container {
    flex-direction: column-reverse;
  }
  .nav-heading {
    height: 3rem;
  }
  .video-cards-container {
    width: 100vw;
  }
  .list {
    flex-direction: row;
  }
}
