@import url("https://infinitee-ui.netlify.app//allstyles.css");

@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@500&display=swap");

:root {
  --text-clr: #525252;
  --btn-color: #ffffff;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  box-sizing: border-box;
  overflow: hidden;
  font-family: "Barlow Condensed", sans-serif;
}

.main-container {
  display: flex;
  flex-direction: row;
  height: calc(100vh - 5rem);
  width: 100vw;
  padding: 0;
  overflow: hidden;
}

.video-cards-container {
  width: calc(100vw - 5rem);
  height: calc(100vh - 5rem);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin: 0%;
  padding: 0%;
  overflow-y: scroll;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}


.options:hover {
  cursor: pointer;
  color: var(--primary-color);
}

.product-details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0;
}

.products-card-container {
  border-radius: 25%;
  margin: 0 2rem;
}
.product-card {
  margin-bottom: 2rem;
  border-radius: 1rem;
  box-shadow: rgb(60 64 67 / 30%) 0px 1px 2px 0px,
    rgb(60 64 67 / 15%) 0px 2px 6px 2px;
}
.clear-btn i {
  font-size: 1rem;
}



.badge {
  border-radius: 25%;
  background: none;
  top: -10px;
}

.remove-card-btn {
  border: 2px solid var(--primary-color);
  padding: 0.5rem;
  border-radius: 2px;
  color: var(--primary-color);
  border-radius: 5px;
}

.remove-card-btn:hover {
  background-color: var(--primary-color);
  color: white;
  cursor: pointer;
}

.page-cards-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow-y: scroll;
  overflow: auto;
  justify-content: center;
  width: 100%;
  height: calc(100vh - 5rem);
}

.letter{
  letter-spacing: 0.1em;
}
.heading-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.product-tumb{
  margin: 0;
  height: 12.5rem;
}
@media screen and (max-width: 600px) {
  .main-container {
    flex-direction: column-reverse;
  }
  .nav-heading {
    height: 3rem;
  }
  .video-cards-container {
    width: 100vw;
  }
  .list {
    flex-direction: row;
  }
}
